.button {
  font-size: 20px;
  line-height: 140%;
  border-radius: 14px;
  border: none;
  outline: 1px solid var(--brand-dark);
  font-family: inherit;
  transition: all 0.1s ease;
}

.button a {
  padding: 20px 35px;
}

.filled {
  background-color: var(--brand-dark);
  color: var(--text-color-light);
}

.button:hover {
  background-color: var(--brand-green);
  color: var(--text-color);
  transform: translateY(-5px);
  box-shadow: 0 5px 0 var(--brand-dark);
}

.button:active {
  transform: none;
  box-shadow: none;
}
