.content {
  padding-left: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.625rem;
}

.right img {
  width: 30.875rem;
  height: 24.625rem;
  object-fit: cover;
}
