/* VARIABLES */
:root {
  --text-color: #000;
  --text-color-light: #fff;

  --brand-green: #b9ff66;
  --brand-dark: #191a23;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: var(--text-color);
  width: fit-content;
}

.header-bg {
  padding: 0 0.438rem;
  border-radius: 7px;
}

.header-bg.green {
  background-color: var(--brand-green);
}

.header-bg.white {
  background-color: #fff;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
}

ul {
  list-style: none;
}

/* GLOBAL CLASSES AND STYLES */
.section-content-container {
  display: flex;
  justify-content: center;
}

.section-content {
  width: 90vw;
  max-width: 1240px;
}
